# `pandas` Data Structures Practical Solution


1.   Start a new Jupyter Notebook.

2.   Import the pandas Python package using the standard alias: `pd`.

In [0]:
import pandas as pd

3.   Create a `pandas` `DataFrame` named `spending_df` with the following entries and with default indexing (this is the range of intergers [0,1]).

| doctor_id                |   medication    | nb_beneficiaries | spending |
|:--------------------------|:-------------------|:-------------------|:-----------------------|
|   24   |   AZITHROMYCIN       |       12  |  77.26|
|   67  |      SIMVASTATIN         |     85 |  767.83|

In [0]:
spending_df = pd.DataFrame({'doctor_id':[24,67], 'medication':['AZITHROMYCIN', 'SIMVASTATIN'], 'nb_beneficiaries':[12, 85], 'spending':[77.26, 767.83]})

4.  Now create a new `pandas` `Series` object which we will be used as a new row entry for our `DataFrame`, name it `row_entry` and give it the following values and index:

| index                |   entry    |
|:--------------------------|:-------------------|
| doctor_id | 32 |
| medication| INSULIN DETEMIR  |
| nb_beneficiaries| 14 |  
|spending| 5409.29 |

In [0]:
row_entry = pd.Series([32,'INSULIN DETEMIR', 14, 5409.29], index=['doctor_id', 'medication', 'nb_beneficiaries', 'spending'])

5. Add the `row_entry` `Series` to the `spending_df` `DataFrame` in-place as a new row with index label 2.

In [0]:
spending_df.loc[2, :] = row_entry

6.  Create a new `DataFrame` called `med_spending_df` that is a subset of `spending_df` containing only the `medication` and `spending` columns. Also set the `index` of `med_spending_df` to the following:

| unique_id | 
|:--------------------------|
| 10302|
| 49385|
| 67345|

In [0]:
med_spending = spending_df.loc[:, ['medication', 'spending']]
med_spending.index = [10302, 49385, 67345]

7. Print the last 2 rows of `med_spending_df`.

In [16]:
med_spending.iloc[[1,2], :]

            medication  spending
49385      SIMVASTATIN    767.83
67345  INSULIN DETEMIR   5409.29

8. Change the `nb_beneficiaries` entry of row 1 in the `spending_df` `DataFrame` to 15 in-place.

In [17]:
spending_df.iloc[1,2] = 15

   doctor_id       medication  nb_beneficiaries  spending
0       24.0     AZITHROMYCIN              12.0     77.26
1       67.0      SIMVASTATIN              15.0    767.83
2       32.0  INSULIN DETEMIR              14.0   5409.29

9. Drop the $0^{th}$ row of `spending_df` in-place

In [0]:
spending_df.drop(0, axis='rows', inplace=True)